div.pp_default .pp_description {font-size: 14px;font-weight: normal;margin: 5px 0 5px 0;}
p.lead {margin-top: 50px;}
p.pp_description {text-align: center;padding: 10px;color: #000000;}
ul.social li {display: inline-block;width: 24%;text-align: center;}
#contact .box h1, #contact .box h2, #contact .box h3 {margin-bottom: 25px;}
#skills table {width: 100%;}
#main-slider {padding: 150px 0;}
.maxed {max-width: 200px;}
.img-responsive {margin: 0 auto;}
.box h2 {text-align: center;display: block;}
.col-lg-2 {padding: 20px;}
.box.first {margin-top: 0;}
=======
div.pp_default .pp_description {font-size: 14px;font-weight: normal;margin: 5px 0 5px 0;}
p.lead {margin-top: 50px;}
p.pp_description {text-align: center;padding: 10px;color: #000000;}
ul.social li {display: inline-block;width: 24%;text-align: center;}
#contact .box h1, #contact .box h2, #contact .box h3 {margin-bottom: 25px;}
#skills table {width: 100%;}
#main-slider {padding: 150px 0;}
.maxed {max-width: 200px;}
.portfolio-filter > li {line-height: 40px;}
.img-responsive.img {max-width:200px;}

ul.social li,
.portfolio-items.col-4 > li {width: 100%;}

@media (min-width: 600px){
	.portfolio-items.col-4 > li {width: 50%;}
}

@media (min-width: 1000px){
	ul.social li {width: 33%;}
	.portfolio-items.col-4 > li {width: 33.33333333333%;}
}

@media (min-width: 1440px){
	.portfolio-items.col-4 > li {width: 25%;}
}

@media (min-width: 1200px){
	.col-lg-2 {width: 20%;}
	.img-responsive.img {max-width:100%;}
}

@media (max-width: 400px){
	.navbar-default .navbar-brand {margin-right: 0;margin-left: 0;}
}
